body{
    margin: 0;
     font-family: Arial, Helvetica, sans-serif
    

        
     } 



.poster{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: radial-gradient(circle, rgb(238, 234, 234), rgb(185, 132, 219), purple, violet);
    background-size: 200% 200%;
    animation: moveGradient 10s ease infinite;

}
  @keyframes moveGradient {
    0% {
      background-position: center center;
    }
    50% {
      background-position: top left;
    }
    100% {
      background-position: center center;
    }
  }
.title{
    font-size: 35px;
    font-weight:bold;
    color: black;
}
.quote{
    font-size: 45px;
    font-weight: bolder;
    color: indigo;
    text-transform: uppercase;
}
.author{
    font-size: 18px;
    font-weight:800;
    color: black;

}
